e-commerce/angular-ecomm/.angular/cache/19.1.7/angular-ecomm/vite/deps/chunk-N7MHBX4T.js
e-commerce/angular-ecomm/.angular/cache/19.1.7/angular-ecomm/vite/deps/chunk-N7MHBX4T.js.map
e-commerce/angular-ecomm/.angular/cache/19.1.7/angular-ecomm/vite/deps/chunk-NBQSA3VV.js
e-commerce/angular-ecomm/.angular/cache/19.1.7/angular-ecomm/vite/deps/chunk-NBQSA3VV.js.map
A_ngular/
my-first-angular-app/
WebServer/bin/
WebServer/obj/