oginbody {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    border-color: rgb(47, 167, 47);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.2);
  }
  
  input[type="text"]:hover {
    border-color: rgb(47, 167, 47);
  }
  
  .input-container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: darkslategray;
  }

  button {
    padding: 10px 20px;
    background-color: rgb(47, 167, 47); /* Green background */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Add some space above the button */
  }

  button:hover {
    background-color: green; /* Darker green when hovering */
  }

  .alter--price--card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #aa4f4f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    h3 {
      margin-bottom: 15px;
      font-size: 1.5rem;
      color: #333;
    }
  
    .form-group {
      margin-bottom: 15px;
      text-align: left;
      
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #555;
      }
      
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        resize: none;
        transition: border 0.3s;
        
        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background: #007bff;
      color: white;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;
      
      &:hover {
        background: #0056b3;
      }
      
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
  
  /* For responsiveness */
  @media (max-width: 600px) {
    .input-container {
      width: 80%;
    }
  }