<ng-container *ngIf="template === 'admin'; else user">
    <div class="bg-white shadow-md border rounded-xl p-6 flex flex-col gap-6 relative">
        <div class="mx-auto">
          <div class="flex flex-col mt-2">
            <span class="text-md font-bold">{{ product.name }}</span>
            <span class="text-sm ">{{ '$' + product.price }}</span>
            <div class="input-container">
                <form (ngSubmit)="onSubmit()" #quantityForm="ngForm">
                    <label for="quantity">Add quantity:</label>
                    <input type="text" id="quantity" [(ngModel)]="quantity" name="quantity" ngModel required placeholder="Enter quantity you want to add">
            
                    <button type="submit">Add</button>
                </form>
                <app-primary-button 
                [label]="'Delete This Product'"
                (buttonClicked)="deleteCommentsForProduct()">
              </app-primary-button>
            </div>
          </div>
  
          <h2>Rate this product:</h2>
          <app-star-rating [(rating)]="aggregateRating" (ratingChange)="onRatingChange()"></app-star-rating>
          <p>Your rating: {{ userRating }}</p>
          <span class="absolute top-2 right-3 text-sm font-bald" 
            [class.text-green-500]="product.quantity > 0"
            [class.text-red-500]="product.quantity === 0">
            {{ product.quantity > 0 ? product.quantity + ' left' : 'Out of stock' }}
          </span>
        </div>
      </div>

      <app-primary-button 
      [label]="'Comments'"
       
      (buttonClicked)="goComments()">
    </app-primary-button>

    <div class="alter--price--card">
      <h3>Alter price for above product</h3>
      <form (ngSubmit)="this.dataService.alterProductPrice(this.product.id, newPrice)">
        <div class="form-group">
          <label for="commentText">Your new price here:</label>
          <textarea id="commentText" [(ngModel)]="newPrice" name="newPrice" rows="1" cols="10" required placeholder="New Price"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!newPrice">Submit</button>
        </div>
      </form>
    </div>

</ng-container>

<ng-template #user>
    <div class="bg-white shadow-md border rounded-xl p-6 flex flex-col gap-6 relative">
        <div class="mx-auto">
          <div class="flex flex-col mt-2">
            <span class="text-md font-bold">{{ product.name }}</span>
            <span class="text-sm ">{{ '$' + product.price }}</span>
            <app-primary-button label="Add to cart" class="mt-3" (buttonClicked)="insertHandler()"/> 

          </div>
          
  
          <h2>Rate this product:</h2>
          <app-star-rating [(rating)]="aggregateRating" (ratingChange)="onRatingChange()"></app-star-rating>
          <p>Your rating: {{ userRating }}</p>
          <span class="absolute top-2 right-3 text-sm font-bald" 
            [class.text-green-500]="product.quantity > 0"
            [class.text-red-500]="product.quantity === 0">
            {{ product.quantity > 0 ? product.quantity + ' left' : 'Out of stock' }}
          </span>
        </div>
      </div>


      <div class="bg-slate-100 px-4 py-3 shadow-md flex justify-between items-center">
            

        <app-primary-button 
            [label]="'Comments'"
             
            (buttonClicked)="goComments()">
          </app-primary-button>

    </div>

</ng-template>