
  
<div class="bg-slate-100 p-6 rounded-xl shadow-xl border">
        <h2 class="text-2xl">Order History</h2>
        <div class="flex flex-col gap-4">
          <div *ngIf="orders.length > 0; else noOrders">
            <div *ngFor="let order of orders" class="border p-4 rounded-lg shadow">
              <h3 class="text-lg font-semibold">Order #{{ order.Checkout_id }}</h3>
              <p><strong>Total Price:</strong> ${{ order.Total_price }}</p>
              <p><strong>Purchased Goods:</strong> {{ order.purchasedGoods }}</p>
            </div>
          </div>
          <ng-template #noOrders>
            <p>No orders found.</p>
          </ng-template>
        </div>
      
         Back button 
        <div class="mt-6">
          <app-button-back label="Back" routerLink="/cart"></app-button-back>
        </div>
      </div> 
      
      