<ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

<ng-template #loggedinadmin>
    <div class="bg-slate-100 px-4 py-3 shadow-md flex justify-between items-center">
        <button class="text-xl" routerLink="/" (click)="getToFrontPage()"> My store</button>
        <app-primary-button [label]="'logout'" routerLink="/" [queryParams]="{}" action="logout"/>
        <app-primary-button [label]="'orders'" routerLink="/orderHistory" queryParamsHandling="preserve"/>
        <app-primary-button [label]="'Add new product'" routerLink="/addproduct" queryParamsHandling="preserve"/>
    </div>
</ng-template>

<ng-template #loggedin>
    <div class="bg-slate-100 px-4 py-3 shadow-md flex justify-between items-center">
        <button class="text-xl" routerLink="/" (click)="getToFrontPage()"> My store</button>
        <app-primary-button [label]="'logout'" routerLink="/" [queryParams]="{}" action="logout"/>
        <app-primary-button [label]="'Cart (' + cartService.cartLength() + ')'" routerLink="/cart" queryParamsHandling="preserve"/>
    </div>
</ng-template>

<ng-template #loggedout>
    <div class="bg-slate-100 px-4 py-3 shadow-md flex justify-between items-center">
        <button class="text-xl" routerLink="/" (click)="getToFrontPageLoggedOut()"> My store</button>
        <app-primary-button [label]="'login'" routerLink="/login"/>
    </div>
</ng-template>