body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    margin: 0;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="text"]:focus {
    border-color: rgb(47, 167, 47);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.2);
  }
  
  input[type="text"]:hover {
    border-color: rgb(47, 167, 47);
  }
  
  .input-container label {
    margin-bottom: 8px;
    font-weight: bold;
    color: darkslategray;
  }

  button {
    padding: 10px 20px;
    background-color: rgb(47, 167, 47); /* Green background */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px; /* Add some space above the button */
  }

  button:hover {
    background-color: green; /* Darker green when hovering */
  }
  
  /* For responsiveness */
  @media (max-width: 600px) {
    .input-container {
      width: 80%;
    }
  }